<%# app/views/journeys_documents/video.html.erb %>
<h1><%= @document.title %></h1>
<div class="video">
  <video  class="js-player" width="400" playsinline controls data-controller="plyr-video">
    <source src="<%= @document.url %>" type="video/mp4">
    Votre navigateur ne supporte pas la lecture des vidéos.
  </video>
</div>

<%# Formulaire pour marquer la vidéo comme terminée %>
<% if @journeys_document.pending? %>
  <%= form_with model: @journeys_document, url: journeys_document_path(@journeys_document), method: :patch do |form| %>
    <%= form.hidden_field :status, value: "completed" %>
    <%= form.submit "Marquer comme terminée", class: "btn btn-primary mt-3" %>
  <% end %>
<% elsif @journeys_document.completed? %>
  <%= link_to "Passer au quizz", quizz_journeys_document_path(@journeys_document), class: "btn btn-success mt-3" %>
<% end %>


