<%# app/views/journeys/show.html.erb %>
<div class='container d-flex justify-content-center align-items-center'>
  <div class='row'>
    <div class='col'
      <div class="dashboard">
        <!-- Bouton de retour -->
        <div class="back-button">
          <%= link_to "←", home_path, class: "back-link" %>
        </div>

        <!-- Titre principal -->
        <h1>Ton programme <span class="highlight">personnalisé</span></h1>
        <p>Voici ton point de départ pour surmonter la peur de l’avion :</p>

        <!-- Barre de progression -->
        <div class="progress-bar">
          <div class="progress-bar-track">
            <!-- Dynamiser la largeur avec le pourcentage de progression -->
            <div class="progress-bar-fill" style="width: <%= @progress %>%"></div>
          </div>
        </div>
        <p><%= @progress %>% de progression</p>

        <!-- Liste des contenus -->
        <div class="content-list">
          <% @journey_documents.each do |j_document| %>
            <% document = j_document.document %>
            <div class="content-item">
              <!-- Affichage d'une vidéo -->
              <% if document.video? %>
                <div class="video">
                  <video controls>
                    <source src="<%= document.url %>" type="video/mp4">
                    Votre navigateur ne supporte pas la lecture des vidéos.
                  </video>
                </div>
              <% else %>
                <!-- Titre et description -->
                <%= link_to document.title, journeys_document_path(j_document) %>

              <% end %>


              <!-- Action (par exemple, voir plus ou compléter) -->
              <%#= link_to 'Voir plus', journey_journeys_media_path(@journey, document.id), class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
       </div>
    </div>
  </div>
</div>
