<!DOCTYPE html>
<html>
  <head>
    <title>FlyCalm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/ios_pwa_links' %>

  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
    <footer class="bottom-navigation">
    <a href="#" class="nav-item">
    <div class="icon">
      <%= image_tag "home/nav-home.svg", alt: "Accueil" %>
      </div>
      <span class="fw-bold">Accueil</span>
    </a>

    <a href="#" class="nav-item">
    <div class="icon">
      <%= image_tag "home/nav-explorer.svg", alt: "Explorer" %>
      </div>
      <span class="fw-bold">Explorer</span>
    </a>
    <a href="#" class="nav-item">
    <div class="icon">
      <%= image_tag "home/nav-consulter.svg", alt: "Consulter" %>
      </div>
      <span class="fw-bold">Consulter</span>
    </a>
    <a href="#" class="nav-item">
    <div class="icon">
       <%= image_tag "home/nav-relaxation.svg", alt: "Se relaxer" %>
       </div>
      <span class="fw-bold">Se relaxer</span>
    </a>
    <a href="#" class="nav-item">
    <div class="icon">
       <%= image_tag "home/nav-favoris.svg", alt: "Favoris" %>
        </div>
      <span class="fw-bold">Favoris</span>
    </a>
  </footer>
  </body>
</html>
